<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="BAMSConnection"
			 connectionString="Server=Your_SERVER;Database=Yo;User Id=Your_USER;Password=Your_PASSWORD;TrustServerCertificate=True;"
			 providerName="Microsoft.Data.SqlClient"/>
	</connectionStrings>
</configuration>